//mixin for making responsive breakpoints

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// breakpoint variables
$lg:  117.0rem; // 1170px
$md:  102.4rem; //1024px
$sm:  64rem; // 640px;
$xs:  48rem; //480px;

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}
// font sizes

$html-font-size: (null: 1.6rem, $md: 1.5rem, $sm: 1.4rem, $xs: 1.3rem);

$paragraph-font-size: (null: 1.8rem, $lg: 1.7rem, $md: 1.6rem, $sm: 1.5rem, $xs: 1.4rem);

// html

html {
    @include font-size-map($html-font-size);
}

p {
    @include font-size-map($paragraph-font-size);
}


//mixin that calculates pixels into rems
// body font size
$browser-context: 16;

// function to convert px to em
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem
}

html{
    line-height: 1.2;
    font-size: rem(16);
}

h1 {
    // 72px
    font-size: rem(36);
}

h2 {
    // 24px

    font-size: rem(24);
}
